.carousel {
  position: relative; }

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  display: none; }
  .carousel-item.visible {
    display: block; }

.carousel-item-image {
  display: block; }
  .carousel-item-image img {
    display: block;
    width: 100%; }

.carousel-item-info {
  position: absolute; }

.carousel-navigation {
  position: absolute;
  top: 50%;
  width: 100%; }

.carousel-navigation-item {
  position: absolute;
  cursor: pointer; }
  .carousel-navigation-item.carousel-previous {
    left: 0; }
  .carousel-navigation-item.carousel-next {
    right: 0; }

.carousel-pagination {
  position: absolute;
  bottom: 2%;
  left: 2%; }
  .carousel-pagination .carousel-pagination-item {
    cursor: pointer; }
    .carousel-pagination .carousel-pagination-item.active {
      cursor: default; }
